<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='form.css')}}">
</head>
<body>
    <div>
        <form action='/survey' method='post'>
            Name: <input type='text' name='name' size=45>
            <p>Dojo Location:
                <select name="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Washington DC">Washington DC</option>
                </select>
            </p>
            <p>Favorite Language:
                <select name="language">
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                    <option value="Pascal">Pascal</option>
                    <option value="Swift">Swift</option>
                </select>
			</p>
            <p>Comment (optional):</p> 
            <input type='text' class='comment' name='comment' size=65>
            <input type='submit' class='button' value='Button' >
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class='red'>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>      
</body>
</html>