<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Process Result</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='form.css')}}">
</head>
<body>
    <div>
        <h2>Submitted Info</h2>
        <p>Name: {{ name2 }}</p>
        <p>Dojo Location: {{ location2 }}</p>
        <p>Favorite Language: {{ language2 }}</p>
        <p>Comment: {{ comment2 }}</p>
        <a href='/'><button>Go Back</button></a>
    </div>
</body>
</html>